table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10%;
}

th, td {
    padding: 2px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #e6f1ff;
}

input, select {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    thead {
        display: none;
    }

    tr {
        display: block;
        margin-bottom: 1em;
    }

    td {
        display: block;
        text-align: right;
        position: relative;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        font-weight: bold;
        text-align: left;
    }
}